---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, sint laudantium. Soluta, vero possimus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo adipisci pariatur, dolorem aliquid officia itaque esse soluta nostrum quae vitae fugiat suscipit hic error corrupti laboriosam sequi quos ad quam ea. Odit minima consequuntur enim aperiam animi placeat corrupti voluptas natus, beatae molestiae a ratione dolorem accusantium, quam quaerat rem neque adipisci blanditiis! Distinctio tempore quam quibusdam cupiditate impedit soluta blanditiis esse fugiat natus nostrum illo, consectetur accusamus veritatis. Dolore eveniet, repellat praesentium minima distinctio eius alias libero nemo porro quidem quaerat assumenda officia blanditiis. Rerum eligendi est incidunt, similique nostrum tenetur ratione aspernatur ipsa reiciendis excepturi in, assumenda sed ducimus temporibus. Delectus nam tempore distinctio sequi impedit quam placeat iusto explicabo fugiat laudantium. At delectus molestias suscipit ullam alias incidunt explicabo laboriosam.</p>
</BaseLayout>

    
		